@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');

.gm-style .gm-style-iw-c {
  height: fit-content;
  width: 500px;
}

.gm-style img {
  width: 500px;
}

* {
color: rgb(0, 0, 0);
text-decoration: none;
font-family: 'Maven Pro', sans-serif;
}

button {
border-style: none;
}

select {
  font-size: 16px;
  width: 35%;
  border-radius: .5em;
  padding: 0.5em;
}