.dashboard__container {
    width: 100%;
    display: flex;
}

.dashboard__post {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    position: relative;
}

.dashboard__post__title {
    font-size: 1.2em;
    font-weight: 700;
    margin: 1em, 0
}

.dashboard__post__location,
.dashboard__post__date,
.dashboard__post__views{
    margin: .5em 0;
}

.dashboard__post img,
.dashboard__post video {
    width:95%;
}

.small-post__button-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height:100%;
    padding: 0;
    margin: 0;
}

.small-post__button-container button {
    font-size: 1.5em;
    height:2em;
    width:2em;
    background: none;
    text-align: center;
    padding: 0;
    margin: 0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(183, 183, 183);
}
.small-post__button__increase {
    padding: 0;
    margin: 0;
    color:white;
}

.small-post__button__increase--clicked {
    padding: 0;
    margin: 0;
    color: rgb(45, 85, 230);
}

.small-post__button__decrease {
    padding: 0;
    margin: 0;
    color: white;
}

.small-post__button__decrease--clicked {
    padding: 0;
    margin: 0;
    color: rgb(125, 125, 125);
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

@media only screen and (min-width: 600px) {
    .dashboard__post {
        flex-direction: row;
    }
  }

.dashboard__post__views {
    position: absolute;
    right: 5%;
    bottom: 0;
}