.login {
    padding: 0.5px !important;
    border: 1px solid rgb(235, 235, 235) !important;
    background-color: white !important;
    border-radius: 10px !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
    gap: 0 !important
}

.login div{
    border-radius: 50% !important;
    margin: 0 !important;
}
.login div svg{
    border-radius: 50% !important;
}